# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.js
!*.vue


!README.md
!LICENSE

# OS specific
!*.DS_Store
!Thumbs.db

# Cache
!*.cache/

# ...even if they are in subdirectories
!*/


# # Dependencies
 !*/node_modules

# # Production build
# !*/dist/

# # Local environment
# !*.env.local
# !*.env.*.local

# # Logs
# !npm-debug.log*
# !yarn-debug.log*
# !yarn-error.log*
# !*.log

# # Editor directories and files
# !*.idea/
# # .vscode/
# !*.swp
# !*.swo
# !*.swn


